{% extends "base2.html" %}
{% block conteudo %}
	
	{% for usuario in usuarios.object_list %}	
    
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-block">
	        <a href="/item_usuario/{{usuario.id}}" class="btn btn-primary">{{ usuario.username|upper }}</a> <small>{{usuario.email}}</small>
	      </div>
	    </div>
	  </div>
	</div>

    <br />
    
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if usuarios.has_previous %}
            <a href="?page={{ usuarios.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ usuarios.number }} de {{ usuarios.paginator.num_pages }}.
        </span>

        {% if usuarios.has_next %}
            <a href="?page={{ usuarios.next_page_number }}">próxima</a>
        {% endif %}
    </span>
</div>
{% endblock %}